
.complete-wrapper { margin-bottom: 1.2em; }
.complete-wrapper .complete-text-percent { color: #555; font-size:1.7em;font-weight:bold;text-align:right; }
.complete-wrapper .complete-percent-bar { background-color: #79B743; height:24px; }
.complete-wrapper .complete-percent-bar-wrapper { width: 100%; border: 1px solid #000; padding: 1px; border:1px solid #aaa; background: #fafafa; }
.complete-wrapper .complete-text { font-size: 0.9em; color: #666;}
.complete-wrapper .complete-text a { font-weight: bold;}
.complete-wrapper .complete-text { font-size: 1.1em; margin-top: 3px; }

.complete-wrapper .complete-percent-bar.green { background-color: #79B743; }
.complete-wrapper .complete-percent-bar.orange { background-color: #CCBF4A; }
.complete-wrapper .complete-percent-bar.red { background-color: #AF3131; }
